@{
    ViewData["Title"] = "Credits";
}
<div class="_container">
    <h1>@ViewData["Title"]</h1>
    <div class="_Text">
        This application was developed by Crivelli José Marcos, as a final project for the .Net Course Provided by the Technological Pole of Mina Clavero in the year 2022.<br />
        I used all the knowledge acquired in the course itself and renewed it with new research and studies in a self-taught way.<br />
        It was created with different technologies like JS, CSS, Dapper, .Net MVC, Asp-Net Core, jQuery, Sql, Photoshop and more.<br />
        Inspired by my own thinking as a result of the initial slogan of the project, the design and architecture of the site was carried out.<br />
        Likewise, I was "seasoning" and overcoming all  challenges that appeared throughout the development.<br />
        <br />
        Special thanks to teachers:
        <br />
        " Ezequiel Etchecoin " , " Ruben Benegas " , " Joaquin Eduardo Mateos " , " Carlos Cornejo " and " Eugenio Serrano " .<br />
        Thank you very much for the knowledge and incentive you gave me to grow up professionally, It was a pleasure.
    </div>
</div>