@{
    ViewData["Title"] = "Login";
}

<div class="_container">
    <div class="grid_layout">
        <form class="container_form" asp-action="Login">
            <partial name="_FormStart" model="@Model" />
        </form>
    </div>
</div>