@{
    ViewData["Title"] = "Terms of Use";
}
<div class="_container">
    <h1>@ViewData["Title"]</h1>
    <div class="_Text">
        Gambling and/or Casino games are not allowed for persons under 18 years of age.<br />
        By using this application you is sole responsible for, and accepts the terms and conditions described here, when you create an acount and check the "18+" checkbox.<br />
        BingoVintage is not responsible for the improper use of this application and assumes that You have read the privacy policy and Terms of use. Leaving us exempt from all accusations of any kind.<br />
        BingoVintage is open source, being free to use and/or modify<br />
        ¡Enjoy it!
    </div>
</div>
